/* index.html */
section.events div.we-intro {
  color: white;
  font-size: max(1rem, min(4rem, 9vw));
  font-weight: 900;
  margin-top: 10px;
  letter-spacing: 2px;
  text-indent: 2px;
}

section.events div.event-box {
  display: flex;
  flex-direction: row;
  margin-top: var(--ccns-margin-width-min);
  padding: 15px;
}

section.events div.we-intro + div.event-box {
  margin-top: 15px;
}

section.events div.event-box div.event-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: var(--bs-card-border-width) solid var(--bs-card-border-color);
  padding-right: 15px;
}

section.events div.event-box div.event-info p.event-place {
  font-size: 1rem; /* 20px */
}

section.events div.event-box div.event-info p.event-time {
  margin-bottom: 0;
  font-size: 1rem; /* 17px */
}

section.events div.event-box div.event-name {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

section.events div.event-box div.event-name div.name {
  font-size: 1.4rem; /* 37.5px */
  color: white;
  letter-spacing: 1px;
  text-indent: 1px;
  font-weight: 700;
}

section.events div.event-box div.event-name a.url {
  font-size: 1rem; /* 20px */
}

@media only screen and (max-width: 768px) {
  section.events div.event-box div.event-info {
    width: 33%;
  }

  section.events div.event-box div.event-name {
    width: 67%;
  }

  section.events div.event-box div.event-name div.name {
    font-size: 1.2rem;
  }
}
