section.intro div.we-intro {
  color: var(--ccns-hl-color);
  font-size: max(2.2rem, min(2.6rem, 6vw));
  font-weight: 900;
  margin-top: 30px;
}

section.intro div.contact-line {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

section.intro div.contact-line div.line {
  width: 4em;
  height: 1px;
  background-color: var(--ccns-hl-color);
  margin-right: 1em;
}

section.intro div.contact-line i {
  font-size: 2rem;
  margin: 0 10px;
  color: var(--ccns-bgword-color);
  transition: color 0.5s;
}

section.intro div.contact-line i:hover {
  color: var(--ccns-hl-focus-color);
}

section.intro div.club-intro {
  font-size: 1.2rem;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1.6;
}

section.intro div.club-intro span.white {
  color: white;
}

/* iframe map */
section.map-iframe div.map {
  margin: 30px 0 10px;
}

section.map-iframe div.map iframe {
  max-width: 100%;
  border: 0;
}

/* iframe RWD  */
@media only screen and (max-width: 768px) {
  section.map-iframe div.map {
    position: relative;
    padding-bottom: 75%;
    margin-bottom: var(--ccns-margin-width);
    overflow: hidden;
  }

  section.map-iframe div.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

/* scroll top button */
section.to-top a.button {
  position: fixed;
  right: calc(var(--ccns-margin-width) - 30px - (var(--ccns-margin-width-min) - 30px) / 2);
  bottom: calc((var(--ccns-margin-width-min) - 30px) / 2);
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 3px solid;
  border-radius: 25px;
  z-index: 9999;
}
