section.intro div.intro-img img {
  --zoom-left: calc(var(--cw) / 2);
  --zoom-scale: 1.35;

  width: 50%;
  height: auto;
  max-width: 100%;
  float: right;
  margin-right: 0;
  margin-top: 2vw;
}

@media only screen and (max-width: 768px) {
  section.intro div.intro-img img {
    --zoom-left: unset;
    --zoom-scale: 1.1;

    width: 100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}

img.google-img {
  width: 800px;
  height: auto;
  max-width: 100%;
  margin-bottom: 3vw;
}

/* ---timeline-- */

/* timeline picture */
img.timeline-pic {
  width: 600px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  filter: brightness(1);

  --zoom-transition: filter 0.5s;
}

.zoomed img.timeline-pic:not(.zoomed) {
  opacity: 1;
  filter: brightness(0.25);
}

/* timeline */
section.timeline div.timeline dl {
  --events-compact: 250px;

  position: relative;
  top: 0;
  padding: 20px 0;
  margin: 0;
}

section.timeline div.timeline dl:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 100;
  width: 2px;
  margin-left: -1px;
  content: "";
  background-color: #ccd1d9;
}

section.timeline div.timeline dl dt {
  position: relative;
  z-index: 200;
  width: 120px;
  padding: 3px 5px;
  margin: calc(var(--events-compact) + 30px) auto 30px;
  font-weight: 400;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #3d444e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

section.timeline div.timeline dl dd {
  position: relative;
  margin: 0 0 calc(-1 * var(--events-compact));
}

section.timeline div.timeline dl dd .events:before { /* circle */
  position: absolute;
  content: "";
  top: calc(10px + 30px / 2 - 22px / 2);
  right: calc(100% + 6px + 13px - 22px / 2);
  z-index: 200;
  width: 22px;
  height: 22px;
  background-color: #4fc1e9;
  border: 4px solid #f5f7fa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

section.timeline div.timeline dl dd:nth-last-of-type(2n) .events:before {
  right: unset;
  left: calc(100% + 6px + 13px - 22px / 2);
}

section.timeline div.timeline dl dd .time {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 100px;
  padding: 10px 20px;
  color: #4fc1e9;
  margin-left: -100px;
  text-align: right;
}

section.timeline div.timeline dl dd:nth-last-of-type(2n) .time {
  margin-left: 0;
  text-align: left;
}

section.timeline div.timeline dl dd .events {
  --zoom-left: calc(var(--cw) / 2 + 13px + 6px + 10px);
  --zoom-right: calc(var(--ccns-margin-width) + 10px);
  --zoom-align-margin: 10px;
  --zoom-align-base: 100%;
  --zoom-align-orientation: -1;
  --zoom-scale: 3.6;

  position: relative;
  width: calc(50% - 6px - 13px);
  padding: 10px 0 0;
  margin: 10px 0;
  color: #fff;
  background-color: #3d444e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: right;
}

section.timeline div.timeline dl dd:nth-last-of-type(2n) .events {
  --zoom-left: calc(var(--ccns-margin-width) + 10px);
  --zoom-right: calc(var(--cw) / 2 + 13px + 6px + 10px);
  --zoom-align-base: 0%;
  --zoom-align-orientation: 1;

  float: left;
}

section.timeline div.timeline dl dd .events .events-header:before {
  position: absolute;
  top: calc(30px / 2 - 6px);
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 6px;
  right: 100%;
  border-color: transparent #3d444e transparent transparent;
}

section.timeline div.timeline dl dd:nth-last-of-type(2n) .events .events-header:before {
  left: 100%;
  right: unset;
  border-color: transparent transparent transparent #3d444e;
}

section.timeline div.timeline dl dd .events .events-object {
  margin: 0 auto;
}

section.timeline div.timeline dl dd .events .events-header {
  position: relative;
  padding: 0 10px;
  margin: 0 0 10px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

section.timeline div.timeline dl dd .events .events-body {
  overflow: visible;
  zoom: 1;
  padding: 0 10px 10px;
}

section.timeline div.timeline dl dd .events .events-body > :not(:last-child) {
  margin-bottom: 10px;
}

section.timeline div.timeline dl dd .events .events-body .events-desc {
  text-indent: 2em;
  padding: 0 15px;
}

section.timeline div.timeline dl dd .events .events-footer {
  text-align: center;
  font-size: 20px;
}

section.timeline div.timeline dl dd .events .events-footer ol .active {
  transform: scale(2);
}

/* RWD timeline */
@media only screen and (max-width: 768px) {
  section.timeline div.timeline dl {
    --events-compact: calc(250 / 768 * 100vw);
  }

  section.timeline div.timeline dl dd .events {
    --zoom-scale: 3;
  }

  section.timeline div.timeline dl dd .events .events-header {
    font-size: 18px;
  }

  section.timeline div.timeline dl dd .events .events-footer {
    font-size: 16px;
  }
}
