section.memberIntro div.member-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 10vw;
}

section.memberIntro div.member-item {
  flex: 50%;
  padding: 50px 5vw;
}

img.thumbnails {
  width: 100%;
}

section.memberIntro div.desc {
  text-align: left;
  font-size: 20px;
}

section.memberIntro div.desc h1 {
  color: #c49f54;
  margin-top: 20px;
}

section.memberIntro div.desc h1 a {
  color: #888;
  font-size: 95%;
  margin-left: 5px;
}

section.memberIntro div.desc h1 a i:hover {
  color: #c49f54;
}

section.memberIntro div.desc span.whiteAdj {
  color: rgb(229, 233, 236);
}

iframe.c-chan {
  width: 200px;
  height: 420px;
  position: fixed;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  section.memberIntro div.member-list {
    padding: 30px 30px;
  }

  section.memberIntro div.member-item {
    flex: 100%;
  }

  section.memberIntro div.desc {
    text-align: center;
    font-size: 22px;
  }

  iframe.c-chan {
    display: none;
  }
}
