section.member-intro div.member-list {
  display: flex;
  flex-flow: row wrap;
  padding: calc(var(--ccns-margin-width-min) / 2);
}

section.member-intro div.member-item {
  flex: 50%;
  max-width: 50%;
  padding: calc(var(--ccns-margin-width-min) / 2);
}

section.member-intro img.thumbnails {
  max-height: 10rem;
  width: 100%;
  object-fit: contain;
  object-position: left;
  aspect-ratio: 29 / 13;
}

section.member-intro div.desc {
  --desc-border-alpha: 25%;

  text-align: left;
  font-size: 1.2rem;
  transform: translateZ(10px);
}

section.member-intro div.desc * {
  text-shadow:
    0 1px 10px var(--ccns-bg-color),
    1px 1px 0 rgb(var(--ccns-bg-color-rgb), var(--desc-border-alpha)),
    1px -1px 0 rgb(var(--ccns-bg-color-rgb), var(--desc-border-alpha)),
    -1px 1px 0 rgb(var(--ccns-bg-color-rgb), var(--desc-border-alpha)),
    -1px -1px 0 rgb(var(--ccns-bg-color-rgb), var(--desc-border-alpha));
}

section.member-intro div.desc h1 {
  color: var(--ccns-hl-color);
  font-size: 1.4rem;
  margin-top: 20px;
}

section.member-intro div.desc h1 a {
  --desc-border-alpha: 10%;

  margin-left: 5px;
}

section.member-intro div.desc p {
  --desc-border-alpha: 100%;
}

section.member-intro div.desc span.white-adj {
  color: rgb(229, 233, 236);
}

section.member-intro .c-chan {
  aspect-ratio: 1 / 2;
  height: min(100%, calc(2 * 50vw), max(75%, 512px));
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  transition: opacity 0.5s ease-in;
  mix-blend-mode: screen;
}

section.member-intro .c-chan:hover,
section.member-intro .c-chan:focus {
  opacity: 1;
  mix-blend-mode: normal;
}

@media only screen and (max-width: 768px) {
  section.member-intro div.member-item {
    flex: 100%;
    max-width: 100%;
  }

  section.member-intro img.thumbnails {
    object-position: center;
  }

  section.member-intro div.desc {
    font-size: 1.4rem;
    text-align: center;
  }

  section.member-intro div.desc h1 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1268px),
  screen and (min-aspect-ratio: 7 / 2) {
  section.member-intro .c-chan {
    opacity: 1;
    mix-blend-mode: normal;
  }
}
