section.member-intro div.member-list {
  display: flex;
  flex-flow: row wrap;
  padding: calc(var(--ccns-margin-width-min) / 2);
}

section.member-intro div.member-item {
  flex: 50%;
  max-width: 50%;
  padding: calc(var(--ccns-margin-width-min) / 2);
}

img.thumbnails {
  width: 100%;
  object-fit: contain;
  object-position: left;
  aspect-ratio: 29 / 13;
}

section.member-intro div.desc {
  text-align: left;
  font-size: 20px;
}

section.member-intro div.desc h1 {
  color: #c49f54;
  margin-top: 20px;
}

section.member-intro div.desc h1 a {
  /* color: #888; */
  font-size: 95%;
  margin-left: 5px;
}

section.member-intro div.desc span.white-adj {
  color: rgb(229, 233, 236);
}

.c-chan {
  width: 36vh;
  height: 72vh;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  transition: opacity 0.5s;
}

.c-chan:hover,
.c-chan:focus {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  section.member-intro div.member-item {
    flex: 100%;
    max-width: 100%;
  }

  section.member-intro div.member-item:last-of-type p:last-child {
    min-height: 50vh;
  }

  img.thumbnails {
    object-position: center;
  }

  section.member-intro div.desc {
    text-align: center;
    font-size: 22px;
  }

  .c-chan {
    width: 25vh;
    height: 50vh;
  }
}
