@import "top.css";
@import "index.css";
@import "intro.css";
@import "events.css";
@import "member.css";
@import "projects.css";
@import "food.css";
@import "env.css";

@font-face {
  font-family: "Noto Sans TC";
  font-weight: normal;
  src: url("../fonts/NotoSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-weight: bold;
  src: url("../fonts/NotoSansUI-Bold.ttf");
  font-display: swap;
}

html {
  overflow-x: hidden;
  color: var(--ccns-bgword-color);
  font-family: "Noto Sans TC", sans-serif;
  font-size: 125%;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  background-color: #141414;
}

body > section {
  margin: auto var(--ccns-margin-width);
}

body > section:nth-last-of-type(2) {
  margin-bottom: var(--ccns-margin-height);
}

:root {
  --ccns-margin-width-min-base: calc(var(--bs-gutter-x, 0.75rem) + 12px);
  --ccns-margin-width-min: calc(var(--ccns-margin-width-min-base) + 12px);
  --ccns-margin-width:
    calc(
      max(
        (100vw - (1024px - 2 * var(--ccns-margin-width-min))) / 2 + 3vw,
        var(--ccns-margin-width-min)
      )
    );
  --ccns-margin-height: calc(max(3.45vw, var(--ccns-margin-width-min)));
  --cw: calc(100vw - var(--scrollbar-width)); /* 100% page content width */
  --ccns-header-height: calc(2 * 3.45vw + 4.45vw);
  --ccns-bgword-color: #6c757d;
  --ccns-hl-color: #c49f54;
  --ccns-hl-focus-color: #ffc107;
  --ccns-cardbg-color: #3d444e;
}

a {
  color: #6ea8fe;
  text-decoration: none;
}

a:hover {
  color: var(--ccns-hl-focus-color);
}

.card {
  color: #fff;
  background-color: var(--ccns-cardbg-color);
  transition: border-color 0.2s;
}

.card:hover {
  border-color: var(--ccns-hl-focus-color);
}

div.background-words {
  width: 100%;
  text-align: center;
  z-index: -1;
  font-family: "Playfair Display", serif;
  margin-top: 0.25em;
  line-height: 0.5;
  font-size: max(1rem, min(5rem, 10vw));
}

div.we-intro {
  font-family: Amiri, serif;
}

@media only screen and (max-width: 768px) {
  :root {
    --ccns-margin-width: var(--ccns-margin-width-min);
    --ccns-margin-height: calc(max(3vw + 12px, var(--ccns-margin-width)));
    --ccns-header-height: calc(12px + 2 * 3vw + 8.45vw);
  }
}
