header.top div.top-nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header.top div.top-nav div.header-left {
  padding: 3.45vw; /* 45px */
  display: flex;
  align-items: center;
  width: 49%;
}

header.top div.top-nav div.header-left a.home-link {
  text-decoration: none;
  color: white;
}

header.top div.top-nav div.header-left div.logo-box {
  margin-right: 1.5vw;
  width: 4.6vw;
  height: 4.45vw;
  background-color: #c49f54;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.top div.top-nav div.header-left p {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.35vw; /* 18px */
  color: white;
  margin-bottom: 0;
  letter-spacing: 2px;
  text-indent: 2px;
}

header.top div.top-nav div.header-left div.logo-box p {
  font-family: Roboto, sans-serif;
  color: #161616;
  margin-top: 1.3vw;
  font-size: 1.35vw;
  line-height: 0.4vw;
}

header.top div.top-nav div.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 11.5vw;
  width: 100%;
  margin-right: 3vw;
  padding: 3.45vw;
}

header.top div.top-nav div.header-right a {
  text-decoration: none;
  color: white;
  font-size: 1.35vw;
  letter-spacing: 1px;
  text-indent: 1px;
  margin-left: 2.54vw;
  transition: color 0.4s;
}

header.top div.top-nav div.header-right a:hover {
  color: #c49f54;
}

header.top div.top-nav div.header-right i {
  cursor: pointer;
  color: white;
  font-size: 2.13vw; /* 30px */
  margin-right: 3.45vw; /* 45px */
  transition: color 0.4s;
}

header.top div.top-nav div.header-right i:hover {
  color: #c49f54;
}

.overlay .closebtn {
  display: none;
}

header.top div.top-nav div.nav-icon i.fa {
  display: none;
}

@media only screen and (max-width: 768px) {
  header.top div.top-nav {
    position: relative;

    /* 讓nav-bar 最上層顯示 */
    z-index: 9999;
  }

  header.top div.top-nav #nav-bar {
    display: block;
    width: 0%;
  }

  header.top div.top-nav #nav-bar.open {
    width: 100%;
  }

  header.top div.top-nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
  }

  header.top div.top-nav div.header-left {
    padding: 3vw; /* 45px */
    display: flex;
    align-items: center;
    width: 75%;
    margin-top: 12px;
    margin-left: 12px;
  }

  header.top div.top-nav div.header-left a.home-link {
    text-decoration: none;
    color: white;
  }

  header.top div.top-nav div.header-left a.home-link p {
    font-size: 4.5vw;
  }

  header.top div.top-nav div.header-left div.logo-box {
    margin-right: 2vw;
    width: 10vw;
    height: 8.45vw;
    background-color: #c49f54;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header.top div.top-nav div.header-left div.logo-box p {
    font-family: Roboto, sans-serif;
    color: #161616;
    margin-top: 1.3vw;
    font-size: 3.35vw;
    line-height: 2.4vw;
  }

  /* NavBar for RWD  */
  header.top div.top-nav div.header-right {
    display: block;
    align-items: center;
    justify-content: flex-end;
    height: 11.5vw;
    margin-bottom: 20vw;
    padding: 5px;
  }

  .overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 90%);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
  }

  header.top div.top-nav div.header-right a {
    display: block;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    font-size: 5vw;
    letter-spacing: 2px;
    text-indent: 2px;
    margin-top: 8vw;
    margin-bottom: 5vw;
    margin-left: 0;
    min-width: 180px;
  }

  header.top div.top-nav div.header-right a:hover {
    background-color: grey;
  }

  header.top div.top-nav div.overlay div.header-right a:hover,
  header.top div.top-nav div.overlay div.header-right a:focus {
    color: white;
  }

  .overlay .closebtn {
    position: absolute;
    top: 24px;
    right: 26px;
  }

  header.top div.top-nav div.nav-icon {
    display: table-cell;
    margin-top: 12px;
    margin-right: 12px;
    padding: 3vw;
  }

  header.top div.top-nav div.nav-icon i.fa {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    font-size: 30px;
  }

  header.top div.top-nav div.nav-icon i.fa:before {
    position: relative;
    top: calc((8.45vw - 1em) / 2);
  }
}
