  <header class="top container-fluid">
    <div class="topNav">
      <div class="headerLeft">
        <a class="homeLink" href="index.html">
          <div class="logoBox">
            <p>CC</p>
            <p>NS</p>
          </div>
        </a>
        <a class="homeLink" href="index.html">
          <p>
            成大電腦網路愛好社
          </p>
        </a>
      </div>

      <div id="navBar" class="overlay">
        <div class="headerRight overlay-content">
          <a href="index.html">首頁</a>
          <a href="intro.html">介紹</a>
          <a href="members.html">社員</a>
          <a href="env.html">社辦</a>
          <a href="projects.html">專案</a>
          <a href="events.html">定期聚</a>
          <a href="food.html">食物</a>
        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
          <i class="fas fa-times fa"></i>
        </a>
      </div>

      <div class="navIcon">
        <i class="fas fa-bars fa" onclick="openNav()"></i>
      </div>
    </div>
  </header>
