<!DOCTYPE html>
<html lang="zh-Hant" data-bs-theme="dark">

<%- include("html-head", { title: "社辦", scripts: ["js/zoom.js"] }); -%>

<body>
<%- include("header", { title: "社辦" }); -%>

  <section class="env-table">
    <table class="env-table">
      <h1> CCNS和其他資訊社團有什麼不同? </h1>
      <tr class="row-desc">
        <th class="col-desc">一般的資訊社團</th>
        <th class="col-desc">CCNS</th>

      </tr>
      <tr class="row-desc">
        <td class="col-desc">沒有自己機房</td>
        <td class="col-desc">有自己機房 還兩個</td>
      </tr>
      <tr class="row-desc">
        <td class="col-desc">只有部分領域的人才</td>
        <td class="col-desc">什麼領域的人都有</td>
      </tr>
      <tr class="row-desc">
        <td class="col-desc">受限於制式課程</td>
        <td class="col-desc">想開什麼都可以</td>
      </tr>
      <tr class="row-desc">
        <td class="col-desc">要收社費的人才能參加活動</td>
        <td class="col-desc">任何人皆可參加</td>
      </tr>
    </table>
  </section>
  <section class="env-img">
    <table>
      <tr>
        <td>
          <div class="img-desc">
            <h1>CCNS 社辦</h1>
          </div>
          <img class="zoom" src="./resources/env/office_1.webp" loading="lazy" />
        </td>
      </tr>

      <tr>
        <td><img class="zoom" src="./resources/env/office_2.webp" loading="lazy" /></td>
      </tr>

      <tr>
        <td><img class="zoom" src="./resources/env/office_3.webp" loading="lazy" /></td>
      </tr>

      <tr>
        <td><img class="zoom" src="./resources/env/office_4.webp" loading="lazy" /></td>
      </tr>

      <tr>
        <td>
          <div class="img-desc">
            <h1>CCNS Server</h1>
          </div><img class="zoom" src="./resources/env/csie_server.webp" loading="lazy" />
        </td>
      </tr>
      <tr>
        <td>
          <div class="img-desc">
            <h1>
              CCNS Server Room</h1>
          </div><img class="zoom" src="./resources/env/serverRoom_1.webp" loading="lazy" />
        </td>
      </tr>
      <tr>
        <td>
          <div class="img-desc">
            <h1>CCNS 3D printer
            </h1>
          </div>
          <img class="zoom" src="./resources/env/serverRoom_2.webp" loading="lazy" />
        </td>
      </tr>
      <tr>
        <td>
          <div class="img-desc">
            <h1>CCNS Piano in server room</h1>
          </div>
          <img class="zoom" src="./resources/env/serverRoom_3.webp" loading="lazy" />
        </td>
      </tr>
    </table>
  </section>

<%- include("footer"); -%>
</body>

</html>
