  <header class="top container-fluid">
    <div class="top-nav">
      <div class="header-left">
        <a class="home-link" href="index.html">
          <div class="logo-box">
            <p>CC</p>
            <p>NS</p>
          </div>
        </a>
        <a class="home-link" href="index.html">
          <p>
            成大電腦網路愛好社
          </p>
        </a>
      </div>

      <div id="nav-bar" class="overlay">
        <div class="header-right overlay-content">
<% const pages = [
    ["index.html", "首頁"],
    ["intro.html", "介紹"],
    ["members.html", "社員"],
    ["env.html", "社辦"],
    ["projects.html", "專案"],
    ["events.html", "定期聚"],
    ["food.html", "食物"],
]; -%>
<% pages.forEach(function (e, i) { -%>
          <a href="<%= e[0] %>" class="<%= (e[1] == title) ? 'nav-focus' : '' %>"><%= e[1] %></a>
<% }); -%>
        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
          <i class="fas fa-times fa"></i>
        </a>
      </div>

      <div class="nav-icon">
        <i class="fas fa-bars fa" onclick="openNav()"></i>
      </div>
    </div>
  </header>
