<head prefix="og: https://ogp.me/ns#" profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:url" content="https://www.ccns.io/" />
  <meta property="og:site_name" content="ccns.io" />
  <meta property="og:image" content="https://www.ccns.io/resources/ccns_logo.gif" />
  <meta property="og:image:secure_url" content="https://www.ccns.io/resources/ccns_logo.gif" />
  <meta property="og:image:type" content="image/gif" />
  <meta property="og:image:width" content="256" />
  <meta property="og:image:height" content="256" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="zh_TW" />

  <link rel="icon" type="image/png" sizes="32x32" href="resources/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="resources/favicon-16x16.png">
  <link rel="shortcut icon" href="resources/favicon.ico">

  <title> <%= (typeof title !== "undefined") ? title + " | " : "" %>CCNS - 成大電腦網路愛好社 </title>
  <meta name="description" content="一個位於台南的熱血資訊社群。" />

  <link href="/frameworks/bootstrap/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <link rel="stylesheet" href="/frameworks/fontawesome-free/css/all.min.css" />
  <script src="/frameworks/jquery/jquery.min.js"></script>
  <script src="/frameworks/bootstrap/js/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Amiri:700|Crimson+Text:700|Droid+Serif:400,700|Libre+Baskerville:700|Noto+Sans|Playfair+Display:900|Roboto:900|Taviraj:900&display=swap" rel="stylesheet" />

  <script type="text/javascript" src="js/navBar.js"></script>
  <script type="text/javascript" src="js/scroll-top.js"></script>
<% if (typeof scripts !== "undefined") { -%>
<%   scripts.forEach(function (src, i) { -%>
  <script type="text/javascript" src="<%= src %>"></script>
<%   }); -%>
<% } -%>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YB5KC5S6KK"></script>
  <script type="text/javascript" src="js/gtag.js"></script>

<% if (typeof defered_scripts !== "undefined") { -%>
<%   defered_scripts.forEach(function (tags, i) { -%>
<%- tags.substring((tags && tags[0] === "\n")) %>
<%   }); -%>
<% } -%>
  <link rel="stylesheet" href="./css/style.css">
</head>
