<!DOCTYPE html>
<html lang="zh-Hant" data-bs-theme="dark">

<%- include("html-head"); -%>

<body>
<%- include("header", { title: "首頁" }); -%>

  <section class="intro">
    <div class="background-words">Who Are Us</div>
    <div class="we-intro">Software Engineers, <br />Developers, Hackers, <br />Adventurers ... @NCKU</div>
    <div class="contact-line">
      <div class="line"></div>
      <a href="https://github.com/ccns" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/ncku.ccns" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
      <a href="https://discord.ccns.io" target="_blank"><i class="fab fa-discord"></i></a>
      <a href="https://t.me/CCNSgeneral" target="_blank"><i class="fab fa-telegram" aria-hidden="true"></i></a>
      <a href="https://term.ccns.cc/" target="_blank"><i class="fas fa-terminal" aria-hidden="true"></i></a>
    </div>
    <div class="club-intro">
      我們是<span class="white">CCNS - 成大電腦網路愛好社</span>，位於台南的熱血資訊社群。
    </div>
    <div class="club-intro">
      社團由各式各樣的人組成，<span class="white">駭客、創客、軟體工程師、創業家、網管、⋯⋯</span>，應有盡有。
    </div>
    <div class="club-intro">
      如果你也是<span class="white">熱愛資訊、喜愛交流的人</span>，不論是不是學生，我們張開雙手歡迎你的加入！
    </div>
  </section>

  <section class="map-iframe">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.797244056545!2d120.2175462149673!3d22.99448218496735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e7693b3a0a7b7%3A0xb1018b67c393069c!2zNzAx5Y-w5Y2X5biC5p2x5Y2A5a2455Sf5rS75YuV5Lit5b-DIElJ!5e0!3m2!1szh-TW!2stw!4v1608551876658!5m2!1szh-TW!2stw"
        width="900" height="450" frameborder="0" aria-hidden="false" tabindex="0"></iframe>
      <iframe
        src="maplibre.html"
        width="900" height="450" frameborder="0" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </section>

<%- include("footer"); -%>
</body>

</html>
